@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .form-input {
    @apply p-6 font-bold text-2xl border-4 border-gray-200 rounded-md;
  }
  .submit-btn {
    @apply p-2 font-light border-2 border-white bg-white rounded-4xl text-black w-1/6
  }
  .image-style {
    @apply flex flex-col gap-4 items-center justify-center;
  }
}
